:root {
  --large-font-size: 5em;
  --med-font-size: 1.75em;

  --secondary-text-color: hsl(0 0 40%);
  --gap-size: 15px;
  --small-gap: 5px;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/*Defining rules broadly*/
.container {
  margin-top: 50px;
  margin-left: 50px;
  width: 768px;
}
.current-conditions, .current-weather, .temp, .forecast {
  display: flex;
}

.toggle > span, .wind-moisture *, .time-condition *, .hour-card, .weekly * {
  color: var(--secondary-text-color);
}

.forecast {
  margin: var(--gap-size) 0px;
  justify-content: space-between;
  text-align: center;
}

/*Rules for current-conditions row*/
.current-conditions {
  justify-content: space-between;
  margin:var(--gap-size) 0px;
}

.wind-moisture, .time-condition {
  padding: 5px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.time-condition {
  text-align: end;
}

.current-weather {
  gap: var(--gap-size);
}

.current-weather > .icon, .temp > span {
  font-size: var(--large-font-size);
}

.temp > .toggle > span {
 font-size: var(--med-font-size);
}

/*Rules for hourly and weekly row*/
.hourly > .toggle * {
  font-size: var(--med-font-size);
}

.hourly > .toggle > span {
  padding: var(--small-gap) var(--small-gap);
  border-right: 2px solid var(--secondary-text-color);
}

.hourly > .toggle > span:last-child {
  padding-right: 0px;
  border-width: 0;
}

.day-card {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
}

.day-card > .icon {
  font-size: var(--med-font-size);
}

.day-card > .temp {
  display: flex;
  gap: var(--small-gap);
}